.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;

  form {
    .titulo {
      font-weight: 700;
      margin-right: 5px;
    }
  }

  .formContainer {
    display: flex;
    padding-bottom: 2px;
  }

  .containerInfo {
    display: flex;

    p {
      margin: 0;
    }

    .titulo {
      font-weight: 700;
      margin-right: 5px;
    }
  }

  .containerInput {
    display: flex;
    background-color: white;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    input {
      border: none;
      width: 90%;
      padding: 5px 0;
      padding-left: 10px;
      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px white inset;
        -webkit-box-shadow: 0 0 0px 1000px white inset;
      }

      &:-webkit-autofill:focus {
        box-shadow: 0 0 0 50px white inset;
        -webkit-box-shadow: 0 0 0 50px white inset;
        -webkit-text-fill-color: #333;
      }

      &:focus {
        outline: none;
        background-color: white;
      }
    }

    -webkit-text-fill-color: #838b95 !important;
  }

  .button {
    border: none;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
  }
  .buttonEnabled {
    background-color: #ff6c44;
    &:hover {
      cursor: pointer;
    }
  }
  .buttonDisabled {
    background-color: rgba(227, 120, 75, 0.4);
  }
  @media (max-width: 425px) {
    .containerInfo {
      display: block;
    }
  }
}
