.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background-color: white;
  border-bottom: 1px solid black;

  .img {
    max-height: 20px !important;
    min-height: 20px !important;
  }
}

.logo {
  font-size: 82px;
}

.tipoUsuario {
  text-transform: uppercase;
}

.usuario {
  text-transform: uppercase;
  padding-right: 10px;
  color: #ff6c44;
}

.logoutButton {
  color: #ff6c44;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 15px;
  cursor: pointer;
  position: relative;
}

.iconImg {
  width: 20px;
  height: 20px;
}

.counter {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
}

.bemVindo {
  display: flex;
  align-items: center;
  margin: 0 5px 0 0;
}

.notifications {
  position: absolute;
  top: 50px;
  right: -20px;
  background-color: gray;
  color: white;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  z-index: 2;

  ul {
    list-style-type: none;
    padding-inline-start: 0px;

    li {
      display: flex;
      align-items: center;
      p {
        margin-right: 10px;
      }
    }
  }

  button {
    border: none;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    background-color: #ff6c44;
    &:hover {
      cursor: pointer;
    }
    &:nth-of-type(1) {
      margin-right: 5px;
    }
  }
}

.notification {
  padding: 5px;
  font-size: 14px;
}

.nButton {
  width: 80%;
  padding: 5px;
  margin-top: 10px;
}

@media (max-width: 900px) {
  .container {
    .logo,
    .bemVindo {
      display: none;
    }
  }
}

@media (max-width: 548px) {
  .tipoUsuario {
    display: none;
  }
}
