.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  align-items: center;
  flex-wrap: wrap;
  input[type='file'] {
    display: none;
  }
  label {
    padding: 20px 10px;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
  }

  .arquivos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div {
      display: flex;
      flex-direction: column;
    }
  }

  .button {
    border: none;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
  }
  .buttonEnabled {
    background-color: #ff6c44;
    &:hover {
      cursor: pointer;
    }
  }
  .buttonDisabled {
    background-color: rgba(227, 120, 75, 0.4);
  }
}
