.container {
  button {
    border: none;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    background-color: #ff6c44;
    &:hover {
      cursor: pointer;
    }
  }
  ul {
    list-style-type: none;
    li {
      display: flex;
      align-items: center;
      p {
        margin-right: 10px;
      }
    }
  }

  .conexoes {
    display: flex;
    flex-wrap: wrap;
  }

  .usuarioOposto {
    text-transform: uppercase;
    padding: 0 40px;
    &:hover {
      cursor: pointer;
    }
  }
  .selected {
    color: #ff6c44;
    font-weight: 600;
  }
  .unselected {
    color: rgba(227, 120, 75, 0.4);
  }

  .usuarioOpostoNome {
    min-width: 20%;
  }
  @media (max-width: 425px) {
    .usuarioOposto {
      padding: 0 10px;
    }
    .conexoes {
      padding: 0;
      min-width: 100%;
      justify-content: center;
    }
  }
}
