.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
  h1 {
    text-align: center;
    margin-top: 0;
  }
  form {
    width: 450px;
    label {
      text-transform: upperCase;
      font-size: 12px;
      font-weight: 600;
    }
    @media (max-width: 500px) {
      form {
        width: 90%;
      }
    }
  }
  .flexInput {
    display: flex;
    padding: 0;
    justify-content: space-between;
    div {
      flex-grow: 1;
    }
  }
  .containerInput {
    display: flex;
    background-color: white;
    border: 1px solid black;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 0;
    input {
      border: none;
      width: 90%;
      padding: 5px 0;
      padding-left: 10px;
      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px white inset;
        -webkit-box-shadow: 0 0 0px 1000px white inset;
      }

      &:-webkit-autofill:focus {
        box-shadow: 0 0 0 50px white inset;
        -webkit-box-shadow: 0 0 0 50px white inset;
        -webkit-text-fill-color: #333;
      }

      &:focus {
        outline: none;
        background-color: white;
      }
      [type='date']::-webkit-inner-spin-button,
      [type='date']::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
      }
    }

    -webkit-text-fill-color: #838b95 !important;

    img {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    .selected {
      color: #ff6c44;
      font-weight: 600;
    }
    .unselected {
      color: rgba(227, 120, 75, 0.4);
    }

    .button {
      text-transform: uppercase;
      padding: 0 40px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  a {
    color: #ff6c44;
  }
  .loginButton {
    border: none;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
  }
  .loginButtonEnabled {
    background-color: #ff6c44;
    &:hover {
      cursor: pointer;
    }
  }
  .loginButtonDisabled {
    background-color: rgba(227, 120, 75, 0.4);
  }
}

@media (max-width: 500px) {
  .container {
    form {
      width: 90%;
    }
    .flexInput {
      div {
        @media (max-width: 500px) {
          margin: 0 !important;
        }
      }
      @media (max-width: 500px) {
        display: block;
      }
    }
  }
}
